
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Form/getData" method="post">
    <table>
        <tr>
            <td>name</td>
            <td><input name="txtname" type="text"></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input name="txtage" type="text"></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td>性别</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input type="email"></td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <input type="radio" name="gender" value='male'>男
                <input type="radio" name="gender" value='female'>女
            </td>
        </tr>
        <tr>
            <td>兴趣爱好</td>
            <td>
                <input type="checkbox" name="hobby" value='1'>足球
                <input type="checkbox" name="hobby" value='2'>篮球
                <input type="checkbox" name="hobby" value='3'>羽毛球
                <input type="checkbox" name="hobby" value='4'>排球
            </td>
        </tr>
        <tr>
            <td>注册<td>
            <td>
                <input type="submit" name="submitname" value="提交" />
            </td>
        </tr>

    </table>


</form>